.card {
  min-width: 231px;
  max-width: 231px;
  height: 348px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__img_container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  &__rate {
    position: absolute;
    bottom: 15px;
    right: 5px;
    min-width: 60px;
    height: 60px;
    background-color: rgba(78, 71, 71, 1);
    font-size: 32px;
    font-weight: 800;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__rate_high {
    color: #00aa00;
  }

  &__rate_medium {
    color: #bf6500;
  }

  &__rate_low {
    color: #681f12;
  }

  &__rate_none {
    color: black;
  }
}
