.slide {
  height: 100vh; // Сделаем секцию на весь экран
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Выравнивание элементов по левому краю
  justify-content: center; // Центрирование по вертикали
  gap: 20px; // Уменьшил разрыв между элементами
  position: relative;
  background: #191919;

  &__bg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; // Изменил на cover для более приятного отображения
    opacity: 0.5; // Добавим немного прозрачности
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px; // Уменьшил разрыв между секциями
  padding: 50px 0;
  background: #191919;
}
