.page {
  height: 100vh;
  background: linear-gradient(135deg, #211F1F, #342626);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.backHome {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  &:hover {
    text-decoration: underline;
  }
}

.input {
  background: #313131E5;
  padding: 15px 20px;
  border-radius: 8px;
  width: 100%;

  input {
    color: #FFFFFF;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 100%;

    &::placeholder {
      color: #757575;
    }
  }
}

.btn {
  background: linear-gradient(135deg, #E13C52, #FFBD5D);
  color: #FFFFFF;
  padding: 10px 34px;
  border-radius: 60px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: linear-gradient(135deg, #FFBD5D, #E13C52);
  }
}

.link {
  text-decoration: none;
  color: #FFFFFF;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #ED6C02;
  }
}
