.reviewWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  gap: 60px;
  background: black;
  text-decoration: none;
  min-width: 231px;
  max-width: 231px;
  border-radius: 4px;
  overflow: hidden;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__ratingItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__text {
    background: #FFFFFF;
    border-radius: 24px;
    border: 5px solid #ED6C02;
    padding: 24px;
  }
}







.card {
  min-width: 231px;
  max-width: 231px;
  height: 348px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  text-decoration: none;

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .__img_container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__rate {
    position: absolute;
    bottom: 15px;
    right: 5px;
    min-width: 60px;
    height: 60px;
    background-color: rgba(78, 71, 71, 1);
    font-size: 32px;
    font-weight: 800;
    border-radius: 4px;
    align-content: center;
    text-align: center;
    text-decoration: none;
  }

  .rate-high {
    color: green;
  }

  .rate-medium {
    color: yellow;
  }

  .rate-low {
    color: red;
  }

  .rate-none {
    color: red;
  }

  &:hover {
    transform: scale(1.1)
  }
}